<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style.css">
        <script src="https://kit.fontawesome.com/9274333667.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <section class="section section-stats is-hidden-mobile">
        <div class="container">
          <div class="columns">
            <div class="column is-2 section-stats-sponsor">
              <img class="section-stats-sponsor-logo" src="../images/intersport.png">
            </div>
            <div class="column is-8 section-stats-sponsor">
              <img class="section-stats-main-sponsor-logo" src="../images/JB.png">
            </div>
            <div class="column is-2 section-stats-sponsor">
              <img class="section-stats-sponsor-logo" src="../images/robey.png">
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column is-6">
              <div class="card">
                <div class="card-content">
                  <div class="columns">
                    <div class="column is-5 match-info">
                      <img src="../images/right.png">
                    </div>
                    <div class="column is-2 match-info">
                      <h2 class="is-size-1 has-text-weight-semibold">2-0</h2>
                    </div>
                    <div class="column is-5 match-info">
                      <img src="../images/sco.png">
                    </div>
                  </div>
                </div>
                <div class="card-footer match-info match-info-footer">
                  <h3 class="is-size-5 has-text-weight-semibold">16-01-2023</h3>
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="card">
                <div class="card-content">
                  <div class="columns">
                    <div class="column is-5 match-info">
                      <img class="match-info-logo-small is-128-128-mobile" src="../images/right.png">
                    </div>
                    <div class="column is-2 match-info">
                      <h2 class="is-size-1 has-text-weight-semibold">-</h2>
                    </div>
                    <div class="column is-5 match-info">
                      <img class="match-info-logo-small" src="../images/sco.png">
                    </div>
                  </div>
                </div>
                <div class="card-footer match-info match-info-footer match-info-footer-small">
                  <div class="card-footer-item">
                    <h5 class="is-size-5 has-text-weight-semibold">23-01-2023</h5>
                  </div>
                  <div class="card-footer-item">
                    <h5 class="is-size-5 has-text-weight-semibold">14:00</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="card">
                <div class="card-content">
                  <div class="columns">
                    <div class="column is-5 match-info">
                      <img class="match-info-logo-small" src="../images/right.png">
                    </div>
                    <div class="column is-2 match-info">
                      <h2 class="is-size-1 has-text-weight-semibold">-</h2>
                    </div>
                    <div class="column is-5 match-info">
                      <img class="match-info-logo-small" src="../images/sco.png">
                    </div>
                  </div>
                </div>
                <div class="card-footer match-info match-info-footer match-info-footer-small">
                  <div class="card-footer-item">
                    <h5 class="is-size-5 has-text-weight-semibold">23-01-2023</h5>
                  </div>
                  <div class="card-footer-item">
                    <h5 class="is-size-5 has-text-weight-semibold">14:00</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
		  <script defer src="../scripts.js"></script>
    </body>
</html>