<!DOCTYPE html>
<html lang="nl" data-language="nl" data-country="nl">
<head>
	{{ head() }}
	{% block head %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script>document.documentElement.className += ' js'; var app = {};</script>
        <link rel="stylesheet" href="./build/style.css">
        <script src="https://kit.fontawesome.com/9274333667.js" crossorigin="anonymous"></script>
		
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
		<link rel="manifest" href="/images/favicons/site.webmanifest">
		<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#e24a00">
		<link rel="shortcut icon" href="/images/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#e24a00">
		<meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
		<meta name="theme-color" content="#e24a00">
	{% endblock %}
</head>
<body class="{% block bodyClasses %}{% endblock %}">
	<div class="overall-wrapper">
		{% block header %}{% endblock %}
		{% block body %}{% endblock %}
		{% block footer %}{% endblock %}
	</div>
	
	{% block javascripts %}
		<script src="https://polyfill.io/v3/polyfill.min.js?features=fetch%2CPromise%2CNodeList.prototype.forEach%2CObject.values"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
        <script defer src="./build/scripts.js"></script>
	{% endblock %}
</body>
</html>
