{% extends '_layouts/base.html.twig' %}

{%- block bodyClasses -%}
	{{ entry is defined ? entry.section.handle|replace({ 'Index': '' }) : craft.app.request.segments|first }}
{%- endblock -%}

{% block header %}
	{% include '_components/header/header.html.twig' %}
{% endblock %}

{% block body %}
	<main id="main">
		{% block wrapper %}{% endblock %}
	</main>
{% endblock %}

{% block footer %}		
	<footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>&copy; Irene'58 2023</strong> | <a href="mailto:website@irene58.nl">Website: website@irene58.nl</a>
          </p>
          <p>
            Ruiterspoor 21, 4911 BA Den Hout
          </p>
        </div>
    </footer>
{% endblock %}
