<!DOCTYPE html>
<html>
    <body>
      <section class="section section-primary">
        <div class="container container-primary">
          <div class="columns">
            <div class="column is-5">
              <div class="card is-hidden-mobile">
                <div class="card-content p-0">
                  <table class="table table is-striped table is-hoverable table is-fullwidth">
                    <thead>
                      <tr>
                        <th><abbr title="Position">Pos</abbr></th>
                        <th>Team</th>
                        <th><abbr title="Played">GS</abbr></th>
                        <th><abbr title="Won">W</abbr></th>
                        <th><abbr title="Drawn">D</abbr></th>
                        <th><abbr title="Lost">L</abbr></th>
                        <th><abbr title="Goals for">Pts</abbr></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>1</th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                        </td>
                        <td>38</td>
                        <td>23</td>
                        <td>12</td>
                        <td>3</td>
                        <td>0</a></td>
                      </tr>
                      <tr>
                        <th>2</th>
                        <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a></td>
                        <td>38</td>
                        <td>20</td>
                        <td>11</td>
                        <td>7</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <th>3</th>
                        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
                        <td>38</td>
                        <td>19</td>
                        <td>13</td>
                        <td>6</td>
                        <td>0</td>
                      </tr>
                      <tr class="is-selected">
                        <th>4</th>
                        <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Manchester City F.C.">Manchester City</a></td>
                        <td>38</td>
                        <td>19</td>
                        <td>9</td>
                        <td>10</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <th>5</th>
                        <td><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C." title="Manchester United F.C.">Manchester United</a></td>
                        <td>38</td>
                        <td>19</td>
                        <td>9</td>
                        <td>10</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <th>6</th>
                        <td><a href="https://en.wikipedia.org/wiki/Southampton_F.C." title="Southampton F.C.">Southampton</a></td>
                        <td>38</td>
                        <td>18</td>
                        <td>9</td>
                        <td>11</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <th>7</th>
                        <td><a href="https://en.wikipedia.org/wiki/West_Ham_United_F.C." title="West Ham United F.C.">West Ham United</a></td>
                        <td>38</td>
                        <td>16</td>
                        <td>14</td>
                        <td>8</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <th>8</th>
                        <td><a href="https://en.wikipedia.org/wiki/Liverpool_F.C." title="Liverpool F.C.">Liverpool</a></td>
                        <td>38</td>
                        <td>16</td>
                        <td>12</td>
                        <td>10</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>9</th>
                        <td><a href="https://en.wikipedia.org/wiki/Stoke_City_F.C." title="Stoke City F.C.">Stoke City</a></td>
                        <td>38</td>
                        <td>14</td>
                        <td>9</td>
                        <td>15</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>10</th>
                        <td><a href="https://en.wikipedia.org/wiki/Chelsea_F.C." title="Chelsea F.C.">Chelsea</a></td>
                        <td>38</td>
                        <td>12</td>
                        <td>14</td>
                        <td>12</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>11</th>
                        <td><a href="https://en.wikipedia.org/wiki/Everton_F.C." title="Everton F.C.">Everton</a></td>
                        <td>38</td>
                        <td>11</td>
                        <td>14</td>
                        <td>13</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>12</th>
                        <td><a href="https://en.wikipedia.org/wiki/Swansea_City_A.F.C." title="Swansea City A.F.C.">Swansea City</a></td>
                        <td>38</td>
                        <td>12</td>
                        <td>11</td>
                        <td>15</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>13</th>
                        <td><a href="https://en.wikipedia.org/wiki/Watford_F.C." title="Watford F.C.">Watford</a></td>
                        <td>38</td>
                        <td>12</td>
                        <td>9</td>
                        <td>17</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>14</th>
                        <td><a href="https://en.wikipedia.org/wiki/West_Bromwich_Albion_F.C." title="West Bromwich Albion F.C.">West Bromwich Albion</a></td>
                        <td>38</td>
                        <td>10</td>
                        <td>13</td>
                        <td>15</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>15</th>
                        <td><a href="https://en.wikipedia.org/wiki/Crystal_Palace_F.C." title="Crystal Palace F.C.">Crystal Palace</a></td>
                        <td>38</td>
                        <td>11</td>
                        <td>9</td>
                        <td>18</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>16</th>
                        <td><a href="https://en.wikipedia.org/wiki/A.F.C._Bournemouth" title="A.F.C. Bournemouth">AFC Bournemouth</a></td>
                        <td>38</td>
                        <td>11</td>
                        <td>9</td>
                        <td>18</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>17</th>
                        <td><a href="https://en.wikipedia.org/wiki/Sunderland_A.F.C." title="Sunderland A.F.C.">Sunderland</a></td>
                        <td>38</td>
                        <td>9</td>
                        <td>12</td>
                        <td>17</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>18</th>
                        <td>0</td>
                        <td>38</td>
                        <td>9</td>
                        <td>10</td>
                        <td>19</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <th>19</th>
                        <td><a href="https://en.wikipedia.org/wiki/Norwich_City_F.C." title="Norwich City F.C.">Norwich City</a> <strong>(R)</strong>
                        </td>
                        <td>38</td>
                        <td>9</td>
                        <td>7</td>
                        <td>22</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <th>20</th>
                        <td>0</td>
                        <td>38</td>
                        <td>3</td>
                        <td>8</td>
                        <td>27</td>
                        <td>0</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="card mb-5">
                <div class="card-header">
                  <div class="card-header-title">
                    Aankomende thuiswedstrijden
                  </div>
                </div>
                <div class="card-content p-0">
                  <table class="table is-striped is-fullwidth">
                    <tbody>
                      <tr>
                        <td>22-01-2020</td>
                        <td>Irene'58</td>
                        <td>-</td>
                        <td>Right'Oh 20</td>
                      </tr>
                      <tr>
                        <td>22-01-2020</td>
                        <td>Irene'58</td>
                        <td>-</td>
                        <td>Right'Oh 20</td>
                      </tr>
                      <tr>
                        <td>22-01-2020</td>
                        <td>Irene'58</td>
                        <td>-</td>
                        <td>Right'Oh 20</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card mb-5">
                <div class="card-header">
                  <div class="card-header-title">
                    Afgelastingen
                  </div>
                </div>
                <div class="card-content p-0">
                  <table class="table is-striped is-fullwidth">
                    <tbody>
                      <tr>
                        <td>22-01-2020</td>
                        <td>Irene'58</td>
                        <td>-</td>
                        <td>Right'Oh 20</td>
                      </tr>
                      <tr>
                        <td>22-01-2020</td>
                        <td>Irene'58</td>
                        <td>-</td>
                        <td>Right'Oh 20</td>
                      </tr>
                      <tr>
                        <td>22-01-2020</td>
                        <td>Irene'58</td>
                        <td>-</td>
                        <td>Right'Oh 20</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card mb-5">
                <div class="card-header">
                  <div class="card-header-title">
                    Agenda
                  </div>
                </div>
                <div class="card-content p-0">
                  <table class="table is-striped is-fullwidth">
                    <tbody>
                      <tr>
                        <td>22-01-2020</td>
                        <td>Nieuwjaarscafe</td>
                      </tr>
                      <tr>
                        <td>22-01-2020</td>
                        <td>Irene'58</td>
                      </tr>
                      <tr>
                        <td>22-01-2020</td>
                        <td>Irene'58</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="column is-3">
              <img class="mb-5" src="./images/uittenue.png" alt="">
              <div class="card">
                <div class="card-header">
                  <div class="card-header-title">
                    Nieuws
                  </div>
                </div>
                <div class="card-content p-0">
                  <table class="table is-striped is-fullwidth">
                    <tbody>
                      <tr>
                        <td>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, reiciendis.</p>
                        </td>
                      </tr>
                      <tr>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, reiciendis.</td>
                      </tr>
                      <tr>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, reiciendis.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </body>
</html>